.list-roman{
    list-style-type: upper-roman;
}

.flex-container{
    display: flex;
    justify-content: center;
    
    color: red;
    border: 1px red solid;
    width: 800px;

}

.flex-table{
    border: 1px solid black;
    text-align: center;
}

table{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: auto;
}
td{
    border-width: 1px;
    border-style: solid;
    border-color: red;
    width: auto;
}