.list-roman{
    list-style-type: upper-roman;
}

.flex-container{
    display: flex;
    justify-content: center;
    
    color: red;
    border: 1px red solid;
    width: auto;

}

.flex-table{
    
    
    width: auto;
}
.flex-table-td{
    display: flex;
    justify-content: center; 
}

/*
table{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: auto;
}


td{
    border-width: 1px;
    border-style: solid;
    border-color: red;
    width: auto;
}
*/