.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container{
    position: relative;
    width: 100%;
    height: auto;
}

.imageBackground{
    background-image: url("./img/Sable_avec_Pieds.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;  
    background-position:center;
   
    width: auto;
    height: 682px;
  
  
}

form{
    text-align: center;
}