/*  CSS FOR DEADER With Button Sign-in */

.Header{
    background-color: rgb(238, 231, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}


.container{
    position: relative;
    width: 100%;
    height: auto;
}

.imageBackground{
    background-image: url("./img/seaBlueDark.jpeg");
    background-repeat:no-repeat;
    background-size: 100% 100%;  
    background-position:center;
   
    width: auto;
    height: 682px;
}

.container-text{
    display: flex;
    margin: 15 px;
    justify-content: center;
    transform: translate(50%,50%
    );
}
